html,body {
  display: inline-block;
  font-size: 28px;
  font-family: "Zen Old Mincho", sans-serif;
  font-weight: bold;
  margin:0 auto 5%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html,body {
  
