#meitantei {
  display: inline-block;
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin:0 auto 5%;
  background: linear-gradient(180deg, #FF0000 0%, #FFA500 40%, #FFFF00 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#title {
  .zen-old-mincho-regular {
  font-family: "Zen Old Mincho", serif;
  font-weight: 400;
  font-style: normal;
}
}
